.btn-like{
    width:auto;
    background-color: rgb(0, 71, 165);
    border-radius: 7px;
    border: white;
    box-shadow: black;
}

.btn-like:hover{
    width:auto;
    background-color: rgb(255, 166, 0);
    border-radius: 7px;
    border: white;
    box-shadow: black;
}