.App {
  text-align: center;
  background-color: rgb(15, 25, 31);
  min-height: 200vh;
  
}

#logo {
  height: 80px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  #logo {
    animation: App-logo-spin infinite 8s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


