.app-header {
    background-color: #273d4bda;
    /* min-height: 100vh;
    max-height: 200vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(18px);
    
  }

  .app-header #logo{
      align-self: center;
     margin-top: 30px;
     margin-bottom: 20px;
  }