.login2 {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    align-content: center;
}

.login2 label{
    text-align: left;
    display: block;
    color: whitesmoke;
}

.login2 h2 {
   
    color: whitesmoke;
    margin-bottom: 30px;
    margin-top: 50px;
}

.login2 input{
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid wheat;
    box-sizing: border-box;
    display: block;
    border-radius: 5px;
}
#login-submit-button{

    width:fit-content;
    background-color: rgb(255, 56, 99);
    color:white;
    border: 0;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

